@font-face {
    font-family: ZhanKuGaoDuanHei;
    src: url("/Fonts/ZK.ttf");
}


* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    background-color: rgb(255, 255, 255);
}

header {
    font-size: 30px;
    font-family: ZhanKuGaoDuanHei;

    text-align: center;

    color: white;
    background-color: rgb(58, 58, 58);

    margin: 0px auto;
}

#header2 {
    font-size: 20px;

    margin: -5px auto 5px auto;
}

.panel-container {
    background-color: rgb(246, 247, 243);
    font-family: ZhanKuGaoDuanHei;
    border: solid 1px;
    border-color: rgb(190, 190, 190);
    border-radius: 5px;

    width: fit-content;
    height: fit-content;

    /*float: left;*/
    margin: 5px auto;

}

#top-display {
    width: 450px;
    height: 350px;

    transition-duration: 500ms;

    float: none;
}

@media screen and (min-width: 700px) {

    #top-display {
        width: 650px;
        height: 350px;
        float: none;
    }
}



.panel {
    font-size: 30px;
    font-family: ZhanKuGaoDuanHei;

    background-color: rgb(255, 255, 255);
    border: solid 1px;
    border-radius: 5px;
    border-color: gray;
    margin: 10px 10px;
    /*float: left;不清楚与下一行的区别在哪，望指教*/
    display: inline-block;

    width: 250px;
    height: 400px;
}

.scroll-panel {
    background-color: gainsboro;
    height: 360px;
    overflow-y: scroll;
    margin: auto 5px;
}

#choice-panel-container {
    font-size: 25px;
}

.av-display {
    background-color: rgb(253, 253, 252);
    font-size: 18px;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 2px 5px;
}