@font-face {
    font-family: ZhanKuGaoDuanHei;
    src: url("/Fonts/ZK.ttf");
}


* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;

    background-color: rgb(255, 255, 255);
    /*background: linear-gradient(0deg, black, white, blue) no-repeat;*/
}

header {
    font-size: 30px;
    font-family: ZhanKuGaoDuanHei;

    text-align: center;

    color: white;
    background-color: rgb(58, 58, 58);

    margin: 0px auto;
}

#header2 {
    font-size: 20px;

    margin: -5px auto 5px auto;
}

.panel-container {
    /*background-color: rgba(217, 255, 252, 0.842);*/
    background: linear-gradient(185deg, rgba(217, 255, 252, 0.842), rgba(146, 255, 204, 0.603));
    font-family: ZhanKuGaoDuanHei;
    border: solid 1px;
    border-color: #bebebe;
    border-radius: 5px;

    width: fit-content;
    height: fit-content;

    /*float: left;*/
    margin: 5px auto;
    padding: 5px;
}

#top-display {
    width: 450px;
    height: 350px;

    transition-duration: 500ms;

    float: none;
}

@media screen and (min-width: 700px) {

    #top-display {
        width: 650px;
        height: 350px;
        float: none;
    }
}



.panel {
    font-size: 30px;
    font-family: ZhanKuGaoDuanHei;

    background-color: rgb(255, 255, 255);
    border: solid 1px;
    border-radius: 5px;
    border-color: gray;
    margin: 10px 10px;
    /*float: left;不清楚与下一行的区别在哪，望指教*/
    display: inline-block;

    width: 250px;
    height: 400px;

    transition-duration: 200ms;
}

.panel:hover {
    transform: scale(1.02);
    box-shadow: rgba(101, 206, 171, 0.836) 5px 5px;
}

.scroll-panel {
    background-color: rgb(228, 245, 244);
    height: 360px;
    overflow-y: scroll;
    margin: auto 5px;
}

#choice-panel-container {
    font-size: 25px;
}

.av-display {
    /*background-color: rgb(206, 233, 255);*/
    background: linear-gradient(-5deg, rgb(211, 253, 247), rgb(199, 242, 245), rgb(211, 253, 247));
    font-size: 18px;
    margin: 5px 5px;
    border-radius: 5px;
    padding: 2px 5px;
    border-width: 1px;
    transition-duration: 200ms;
}

.av-display:hover {
    transform: scale(1.05);
    box-shadow: teal 2px 2px;
    cursor: pointer;
}

#congrats-video,
#congrats-video::after {
    position: relative;

    margin: 5px 42%;
    padding: 5px;

    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(23, 68, 38);

    box-shadow: turquoise 0 0;
    background-color: rgb(98, 232, 241);
    background: linear-gradient(rgb(98, 232, 241), turquoise);

    border: 0;

    transition-duration: 200ms;
}

#congrats-video:hover {
    transform: skew(-5deg) translateX(-5px);
    box-shadow: rgb(128, 241, 217) 30px 0px;
    opacity: 0.9;
    color: black;
    cursor: pointer;
}

#congrats-video::after {
    content: "恭喜！";
    z-index: -1;
    position: absolute;

    left: 0px;
    top: 0px;
    margin: 0 0;
    opacity: 0;
}

#congrats-video:hover::after {
    box-shadow: rgb(179, 146, 255) 15px 0px;
    opacity: 0.9;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
}